{% extends 'sql_query_table.html' %}

{% block instance-forms %}
<div class="report-forms-wrapper">
</div>
<div class="input-form-wrapper">
    <form action="/klienci/" method="post">
        {% csrf_token %}
        
        <label for="imie">Imię</label>
        <input type="text" id="imie" name="imie" required><br>
        
        <label for="nazwisko">Nazwisko</label>
        <input type="text" id="nazwisko" name="nazwisko" required><br>

        <label for="data_urodzenia">Data data_urodzenia:</label>
        <input type="date" id="data_urodzenia" name="data_urodzenia" required><br>
        
        <input type="submit" value="Dodać">
    </form>
</div>
<div class="delete-form-wrapper">
    <form action="/klienci/usun/" method="post">
        {% csrf_token %}
        <label for="usun_id">Usuń klienta według id</label>
        <input type="number" id="usun_id" name="usun_id" required><br>
        <input type="submit" value="Usunąć">
    </form>
</div>
<div class = "error-div">
    {% if error_msg %}
    <h2>{{error_msg}}</h2>
    {% endif %}
</div>
<div>
    <form action="/klienci">
        <input type="submit" value="Zapytanie domyślne">
    </form>
</div>
{% endblock %}