{% extends 'sql_query_table.html' %}

{% block instance-forms %}
<div class="report-forms-wrapper">
</div>
<div class="input-form-wrapper">
    <form action="/pracownicy/" method="post">
        {% csrf_token %}
        
        <label for="salon_id">Salon ID:</label>
        <input type="number" id="salon_id" name="salon_id" required><br>
        
        <label for="imie">Imię</label>
        <input type="text" id="imie" name="imie" required><br>
        
        <label for="nazwisko">Nazwisko</label>
        <input type="text" id="nazwisko" name="nazwisko" required><br>

        <label for="stanowisko">Stanowisko</label>
        <input type="text" id="stanowisko" name="stanowisko" required><br>

        <input type="submit" value="Dodać">
    </form>
</div>
<div class="delete-form-wrapper">
    <form action="/pracownicy/usun/" method="post">
        {% csrf_token %}
        <label for="usun_id">Usuń pracownika według id</label>
        <input type="number" id="usun_id" name="usun_id" required><br>
        <input type="submit" value="Usunąć">
    </form>
</div>
<div class = "error-div">
    {% if error_msg %}
    <h2>{{error_msg}}</h2>
    {% endif %}
</div>
<div>
    <form action="/salony">
        <input type="submit" value="Zapytanie domyślne">
    </form>
</div>
{% endblock %}