{% extends 'sql_query_table.html' %}

{% block instance-forms %}
<div class="report-forms-wrapper">
    <form action="/salony/przychody/" method="GET">
        <label for="miesiac">Przychody salona w wybranym miesiącu:</label>
        <input type="month" name="miesiac" id="miesiac" required>
        <input type="submit" value="Wygeneruj raport">
    </form>
</div>
<div class="input-form-wrapper">
    <form action="/salony/" method="post">
        {% csrf_token %}
        <label for="nazwa">Nazwa salonu</label>
        <input type="text" id="nazwa" name="nazwa" required><br>
        
        <label for="adres">Adres salonu</label>
        <input type="text" id="adres" name="adres" required><br>

        <input type="submit" value="Dodać">
    </form>
</div>
<div class="delete-form-wrapper">
    <form action="/salony/usun/" method="post">
        {% csrf_token %}
        <label for="usun_id">Usuń salon według id</label>
        <input type="number" id="usun_id" name="usun_id" required><br>
        <input type="submit" value="Usunąć">
    </form>
</div>
<div class = "error-div">
    {% if error_msg %}
    <h2>{{error_msg}}</h2>
    {% endif %}
</div>
<div>
    <form action="/salony">
        <input type="submit" value="Zapytanie domyślne">
    </form>
</div>
{% endblock %}